.Contacto{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: 770px;
    background-color: var(--Color_blue_ligth);
}

.contacto__container{
    width: 90%;
    padding: 100px 0px 0px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: var(--font_text);
}

.contacto__img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto__title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 10px;
}

.contacto__text{
    font-weight: 200;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contacto__casillas{
    width: 100%;
    height: 50px;
    background-color: var(--Color_cards);
    border: .9px solid var(--Color_cards);
    margin: 20px 0px 10px 0px;
    color:var(--Color_grey);
}

.mensaje{
    height: 140px;
}

.Enviar{
    margin-top: 26px;
    cursor: pointer;
    background-color: var(--Color_blue_strong);
    color: var(--Color_cards);
    font-weight: 500;
    border: .9px solid var(--Color_blue_strong);
    width: 30%;
    height: 50px;
}