.Formacion{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    height: 500px;
    background-color: var(--Color_blue_ligth);
}

.formacion__container{
    width: 80%;
    padding: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formacion__container-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.formacion__title{
    font-family: var(--font_text);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.formacion__card{
    width: 31%;
    height: 300px;
}

.formacion__white{
    width: 100%;
    height: 240px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.card__imgs{
    width: 60%;
}

.card__title_formacion{
    font-family: var(--font_text);
    font-size: 20px;
}

.date__formacion{
    font-family: var(--font_text);
    font-weight: 200;
}