.about__me{
  width: 100%;
  max-width: 1600px;
  margin: auto;
  height: 500px;
  background-color: var(--Color_blue_ligth);
  font-family: var(--font_text);
  color: var(--Color_text);
}

.about__me_title{
  font-size: 3.5rem;
  font-weight: 700;
}

.about__me_container{
  padding: 150px;
  width: 80%;
  font-weight: 300;
}

.about__me_description{
  margin-top:20px;
  text-align: justify;
  font-size: 16px;
  padding: 10px;
}